<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>389613211692-i8sgq011k4re9q5shugs6q9of9q5oh0f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389613211692-i8sgq011k4re9q5shugs6q9of9q5oh0f</string>
	<key>API_KEY</key>
	<string>AIzaSyC9xYvWqEBXLEocedl0uSYqPRE9CW34FDs</string>
	<key>GCM_SENDER_ID</key>
	<string>389613211692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.itm.ponygo</string>
	<key>PROJECT_ID</key>
	<string>ponysgo-itm</string>
	<key>STORAGE_BUCKET</key>
	<string>ponysgo-itm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389613211692:ios:e7e4dbdb54178470</string>
	<key>DATABASE_URL</key>
	<string>https://ponysgo-itm.firebaseio.com</string>
</dict>
</plist>